.layout {
  height: 92.5vh;
  width: 100%;
  display: flex;
  &-todo__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 7.9rem 0 0 7.9rem;
  }
  &-task__add {
    display: flex;
    flex-direction: column;
    // width: 122.8rem;
    width: 54.6%;
    height: 100%;
  }
  &-task__total {
    width: 5rem;
    height: 2rem;
    text-align: center;
    background: #FEF6FF;
    border-radius: 4px;
    margin-top: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #550DC9;
  }
  &-task__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #373737;
    margin-top: 1.6rem;
  }
  &-task__complete {
    margin-left: 6.4rem;
    &__title {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}

@media (max-width: 50rem) {
  .layout-todo__list {
    flex-direction: column;
    &-task__add {
      width: 100%;
      height: 50%;
    }
  }
  .layout-task__complete {
    margin-left: 0;
    width: 54.6%;
    height: 50%;
  }
}